html ,body{
	width: 100%;
}
.hoe_container{
	
	margin: 0 auto;
	min-width: 640px;
	width: 1000px;
}
/* 头部 */
.hoe_header{
	
	width: 1000px;
	height: 30px;
	background: #fff;
    margin-top: 10px;
}

.hoe_header .hoe_header_login{
	height: 30px;
	line-height: 30px;
	float: right;
}
.hoe_header .hoe_header_login span{
   color: #999;
	font-size: 13px;
}
.hoe_header .hoe_header_login .login{
	width: 70px;
	height: 30px;
	float: right;
	text-align: center;
	line-height: 30px;
	background: #4da202;
	font-family: "微软雅黑", "黑体";
	margin: 0 0 0 10px;
}
.hoe_header .hoe_header_login .login a{
	color: #fff;
}
.hoe_header  .hoe_header_exit{
	float: right;
}
.hoe_header  .hoe_header_exit span{
	color: #999;
	font-size: 12px;
}
.hoe_header  .hoe_header_exit a{
	
	font-size: 12px;
	color: #999;
	line-height: 30px;
	margin-left: 10px;
}
.hoe_header  .hoe_header_exit a:hover{
	color: #579f23;
}


/* nav */
.hoe_nav{
    border: 1px solid #e1e1e1;
	width: 100%;
	height: 60px;
	background: #f4f4f4;
    margin-top: 10px;
	line-height: 60px;
}
.hoe_nav .hoe_nav_logo{
	float: left;
	width: 200px;
    padding-top: 10px;
}
.hoe_nav ul{
	padding: 0 15px;
	width: 100%;
	height: 60px;
}
.hoe_nav ul li{

	float: left;
	padding: 0 10px;
}
.hoe_nav ul li .now{
	background: url('../img/top_menu_bg.jpg');
	 color: #fff;
}
.hoe_nav ul li a{
    

    display: inline-block;
    font-family: "微软雅黑", "黑体";
    font-size: 15px;
    height: 40px;
    line-height: 33px;
    padding: 0 13px;
}
.hoe_nav ul li a:hover{
	background: url('../img/top_menu_bg.jpg');
	 color: #fff;

}

/*轮播图 */
.hoe_lbt{
	
	margin-top: 10px;
	width: 1000px;
	height: 300px;
	
}
.hoe_lbt .hoe_lbt_box{
	
    float: left;
    width: 660px;
    height: 300px;
    border-right: 1px solid #e9e9e9;
}
.hoe_lbt .hoe_lbt_box .box{
	position: relative;
	overflow: hidden; 
	width: 638px;
	height: 300px;
}
.hoe_lbt .hoe_lbt_box .box .imgtitle{
	
	width: 638px;
    position: absolute;
    bottom: 20px;
    left: 0px;
    z-index: 10;
    height: 40px;
    background: rgba(0,0,0,0.4);
    filter: progid:DXImageTransform.Microsoft.gradient( GradientType = 0,startColorstr = '#80000000',endColorstr = '#80000000')\9;
    display: block;
    line-height: 40px;
    overflow: hidden;
    
}
.hoe_lbt .hoe_lbt_box .box .imgtitle span{
    background: #e74866;
    color: #fff;
    font-size: 14px;
    float: left;
    height: 20px;
    line-height: 20px;
    margin-top: 10px;
    text-align: center;
    width: 40px;
}

.hoe_lbt .hoe_lbt_box .box .imgtitle a{
    color: #fff;
    font-family: "微软雅黑", "黑体";
    font-size: 18px;
    overflow: hidden;
    margin-left: 10px;
    text-decoration: none;

}

/*.swiper-pagination    小圆点*/
		.swiper-pagination {
		  position: absolute;
		  text-align: center;
		  -webkit-transition: 300ms opacity;
		  -o-transition: 300ms opacity;
		  transition: 300ms opacity;
		  -webkit-transform: translate3d(0, 0, 0);
		  transform: translate3d(0, 0, 0);
		  z-index: 10;
		}
		.swiper-pagination.swiper-pagination-hidden {
		  opacity: 0;
		}
		/* Common Styles */
		.swiper-pagination-fraction,
		.swiper-pagination-custom,
		.swiper-container-horizontal > .swiper-pagination-bullets {
		  bottom: 10px;
		  left: 0;
		  width: 100%;
		}
		/* Bullets */
		.swiper-pagination-bullets-dynamic {
		  overflow: hidden;
		  font-size: 0;
		}
		.swiper-pagination-bullets-dynamic .swiper-pagination-bullet {
		  -webkit-transform: scale(0.33);
		  -ms-transform: scale(0.33);
		  transform: scale(0.33);
		  position: relative;
		}
		.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active {
		  -webkit-transform: scale(1);
		  -ms-transform: scale(1);
		  transform: scale(1);
		}
		.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-main {
		  -webkit-transform: scale(1);
		  -ms-transform: scale(1);
		  transform: scale(1);
		}
		.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-prev {
		  -webkit-transform: scale(0.66);
		  -ms-transform: scale(0.66);
		  transform: scale(0.66);
		}
		.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-prev-prev {
		  -webkit-transform: scale(0.33);
		  -ms-transform: scale(0.33);
		  transform: scale(0.33);
		}
		.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-next {
		  -webkit-transform: scale(0.66);
		  -ms-transform: scale(0.66);
		  transform: scale(0.66);
		}
		.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-next-next {
		  -webkit-transform: scale(0.33);
		  -ms-transform: scale(0.33);
		  transform: scale(0.33);
		}
		.swiper-pagination-bullet {
		  width: 8px;
		  height: 8px;
		  display: inline-block;
		  border-radius: 100%;
		  background: #000;
		  opacity: 0.2;
		}
		button.swiper-pagination-bullet {
		  border: none;
		  margin: 0;
		  padding: 0;
		  -webkit-box-shadow: none;
		  box-shadow: none;
		  -webkit-appearance: none;
		  -moz-appearance: none;
		  appearance: none;
		}
		.swiper-pagination-clickable .swiper-pagination-bullet {
		  cursor: pointer;
		}
		.swiper-pagination-bullet-active {
		  opacity: 1;
		  background: #007aff;
		}
		.swiper-container-vertical > .swiper-pagination-bullets {
		  right: 10px;
		  top: 50%;
		  -webkit-transform: translate3d(0px, -50%, 0);
		  transform: translate3d(0px, -50%, 0);
		}
		.swiper-container-vertical > .swiper-pagination-bullets .swiper-pagination-bullet {
		  margin: 6px 0;
		  display: block;
		}
		.swiper-container-vertical > .swiper-pagination-bullets.swiper-pagination-bullets-dynamic {
		  top: 50%;
		  -webkit-transform: translateY(-50%);
		  -ms-transform: translateY(-50%);
		  transform: translateY(-50%);
		  width: 8px;
		}
		.swiper-container-vertical > .swiper-pagination-bullets.swiper-pagination-bullets-dynamic .swiper-pagination-bullet {
		  display: inline-block;
		  -webkit-transition: 200ms top, 200ms -webkit-transform;
		  transition: 200ms top, 200ms -webkit-transform;
		  -o-transition: 200ms transform, 200ms top;
		  transition: 200ms transform, 200ms top;
		  transition: 200ms transform, 200ms top, 200ms -webkit-transform;
		}
		.swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet {
		  margin: 0 4px;
		}
		.swiper-container-horizontal > .swiper-pagination-bullets.swiper-pagination-bullets-dynamic {
		  left: 50%;
		  -webkit-transform: translateX(-50%);
		  -ms-transform: translateX(-50%);
		  transform: translateX(-50%);
		  white-space: nowrap;
		}
		.swiper-container-horizontal > .swiper-pagination-bullets.swiper-pagination-bullets-dynamic .swiper-pagination-bullet {
		  -webkit-transition: 200ms left, 200ms -webkit-transform;
		  transition: 200ms left, 200ms -webkit-transform;
		  -o-transition: 200ms transform, 200ms left;
		  transition: 200ms transform, 200ms left;
		  transition: 200ms transform, 200ms left, 200ms -webkit-transform;
		}
		.swiper-container-horizontal.swiper-container-rtl > .swiper-pagination-bullets-dynamic .swiper-pagination-bullet {
		  -webkit-transition: 200ms right, 200ms -webkit-transform;
		  transition: 200ms right, 200ms -webkit-transform;
		  -o-transition: 200ms transform, 200ms right;
		  transition: 200ms transform, 200ms right;
		  transition: 200ms transform, 200ms right, 200ms -webkit-transform;
		}
		/* Progress */
		.swiper-pagination-progressbar {
		  background: rgba(0, 0, 0, 0.25);
		  position: absolute;
		}
		.swiper-pagination-progressbar .swiper-pagination-progressbar-fill {
		  background: #007aff;
		  position: absolute;
		  left: 0;
		  top: 0;
		  width: 100%;
		  height: 100%;
		  -webkit-transform: scale(0);
		  -ms-transform: scale(0);
		  transform: scale(0);
		  -webkit-transform-origin: left top;
		  -ms-transform-origin: left top;
		  transform-origin: left top;
		}
		.swiper-container-rtl .swiper-pagination-progressbar .swiper-pagination-progressbar-fill {
		  -webkit-transform-origin: right top;
		  -ms-transform-origin: right top;
		  transform-origin: right top;
		}
		.swiper-container-horizontal > .swiper-pagination-progressbar,
		.swiper-container-vertical > .swiper-pagination-progressbar.swiper-pagination-progressbar-opposite {
		  width: 100%;
		  height: 4px;
		  left: 0;
		  top: 0;
		}
		.swiper-container-vertical > .swiper-pagination-progressbar,
		.swiper-container-horizontal > .swiper-pagination-progressbar.swiper-pagination-progressbar-opposite {
		  width: 4px;
		  height: 100%;
		  left: 0;
		  top: 0;
		}
		.swiper-pagination-white .swiper-pagination-bullet-active {
		  background: #ffffff;
		}
		.swiper-pagination-progressbar.swiper-pagination-white {
		  background: rgba(255, 255, 255, 0.25);
		}
		.swiper-pagination-progressbar.swiper-pagination-white .swiper-pagination-progressbar-fill {
		  background: #ffffff;
		}
		.swiper-pagination-black .swiper-pagination-bullet-active {
		  background: #000000;
		}
		.swiper-pagination-progressbar.swiper-pagination-black {
		  background: rgba(0, 0, 0, 0.25);
		}
		.swiper-pagination-progressbar.swiper-pagination-black .swiper-pagination-progressbar-fill {
		  background: #000000;
		}
		.swiper-pagination-lock {
		  display: none;
		}

/* 善款 */
.donation{

	 float: right;
	 height: 303px;
	 width: 320px;
	 background: url('../img/donation.jpg');
	 font-family: "微软雅黑", "黑体";
	 color: #666;
}
.donation .amount{
	margin-top: 100px;
    width: 100%;
    height: 100px;
  
    padding: 10px 0   0  20px;
}
.donation .amount p{

	font-size: 16px;
    height: 36px;
    line-height: 36px;
}
.donation .amount span{
	background: url('../img/numbox_bg.png');
	color: #579f23;
    display: inline-block;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    height: 46px;
    line-height: 46px;
    margin-right: 10px;
    padding-right: 14px;
    text-align: right;
    width: 224px;
    padding-left: 14px;
}    
.donation .person{	

    width: 100%;
    height: 100px;
   padding-left:20px;
}
.donation .person p{

	font-size: 16px;
    height: 36px;
    line-height: 36px;
}
.donation .person span{
	background: url('../img/numbox_bg.png');
	color: #579f23;
    display: inline-block;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    height: 46px;
    line-height: 46px;
    margin-right: 10px;
    padding-right: 14px;
    text-align: right;
    width: 224px;
    padding-left: 14px;
}    

/*content*/
.hoe_content{
    width: 1000px;
   
}
/* main部分  */
.hoe_content .hoe_main{
	
	border-right: 1px solid #e9e9e9;
    float: left;
    padding-right: 19px;
    width: 660px;
}
/*额外的*/
.hoe_content  .hoe_extra{
   float: right;
   width: 320px;
   height: 300px;
 
}
.hoe_content  .hoe_extra .lejuan{ 
    margin-top: 10px;
}
.hoe_content  .hoe_extra .lejuan .imgBox{ 
	margin-top: 10px;
   width: 320px;
   height: 230px;

}
.hoe_content  .hoe_extra .title .fr{
   float: right;
   color: #438513;
}

.hoe_content  .hoe_extra .title{
    border-bottom: 1px solid #e9e9e9;
    height: 52px;
    line-height: 52px;
}
.hoe_content  .hoe_extra .title span{

    font-family: "微软雅黑", "黑体";
    font-size: 22px;
    font-weight: normal;
    height: 52px;  
}
.hoe_content  .hoe_extra .title  span a{
    padding-bottom: 10px;
	border-bottom: 1px solid #579f23;
}
.hoe_content  .hoe_extra .title  span a:hover{
	color:#579f23; 
}
/* 轮播盒子 */

.hoe_content  .hoe_extra .lb_box{ 
    margin-top: 10px;
}
.hoe_content  .hoe_extra .lb_box .title{ 
	position: relative;
	border-bottom: 1px solid #e9e9e9;
    height: 52px;
    line-height: 52px;
}
.hoe_content  .hoe_extra .lb_box .title .arrow{  
    margin-top: 12px; 
	float: right;
}
.hoe_content  .hoe_extra .lb_box .title .arrow .swiper-button-prev a:hover{
	background: #438513;
} 
.hoe_content  .hoe_extra .lb_box .title .arrow .swiper-button-next a:hover{
	background: #438513;
}  
 .swiper-button-next{
   float: left;
}
 .swiper-button-prev{
	float: left;
}
.hoe_content  .hoe_extra .lb_box .title .arrow img{

  
    border: 1px solid #e2e2e2;
    width: 25px;
    height: 25px;
    background-size: 25px 25px; 
} 

/*轮播盒子 --轮播图*/
.lbimg{
	margin-top: 10px;
	width: 320px;
	height: 180px;
	background: #aaaaaa;
	overflow: hidden;
}
 .swiper-wrapper{
	  position: relative;
	  width: 100%;
	  height: 100%;
	  z-index: 1;
	  display: -webkit-box;
	  display: -webkit-flex;
	  display: -ms-flexbox;
	  display: flex;
	  -webkit-transition-property: -webkit-transform;
	  transition-property: -webkit-transform;
	  -o-transition-property: transform;
	  transition-property: transform;
	  transition-property: transform, -webkit-transform;
	  -webkit-box-sizing: content-box;
	  box-sizing: content-box;
}
 .swiper-slide {
	  -webkit-flex-shrink: 0;
	  -ms-flex-negative: 0;
	  flex-shrink: 0;
	  width: 100%;
	  height: 100%;
	  position: relative;
	  -webkit-transition-property: -webkit-transform;
	  transition-property: -webkit-transform;
	  -o-transition-property: transform;
	  transition-property: transform;
	  transition-property: transform, -webkit-transform;
}

/*热点*/

.hoe_main_hot{
	border-bottom: 1px solid #e9e9e9;
    font-family: "微软雅黑", "黑体";
    height: 52px;
    line-height: 52px;
}
.hoe_main_hot a{
    color: #333;
    margin-right: 8px;
    padding: 2px 4px;
}
.hoe_main_hot a:hover{
	background: #579f23;
	color: #fff;
}
   /* 列表  */
.hoe_main .clist {
	border-bottom: 1px solid #e9e9e9;
    padding: 15px 0;
    width: 640px; 
    height: 215px;
}
.hoe_main .clist  .clist_title {
    display: block;
    font-family: "微软雅黑", "黑体";
    font-size: 22px;
    font-weight: normal;
    height: 32px;
    line-height: 32px;
    overflow: hidden;
}
.hoe_main .clist  .clist_title a:hover{
	background: #579f23;
	color: #fff;
}
.hoe_main .clist .clist_content{
	margin-top: 15px;
    zoom: 1;
   
}
.hoe_main .clist .clist_content .pic{
	
	float: left;
}
.hoe_main .clist .clist_content .text{
	padding-left: 220px;
	 font-size: 14px;
	 line-height: 22px; 
}
.hoe_main .clist .clist_content .text p:nth-child(2){
	margin-top: 10px;
	color: #999;
}
.hoe_main .page{
	font-family: "微软雅黑", "黑体";
    font-size: 16px;
    margin-top: 60px;
    overflow: hidden;
}
.hoe_main .page .now{
	background: #579f23;
	color: #fff;
}
.hoe_main .page a{
	border: 1px solid #e2e2e2;
    cursor: pointer;
    float: left;
    height: 36px;
    line-height: 36px;
    margin-right: 5px;
    text-align: center;
    width: 60px;
}
.hoe_main .page a:hover{
	background: #579f23;
	color: #fff;
}

.hoe_main .page a img{
	width: 34px;
	height: 34px;
	background-size: 34px 34px;
}

    
    
    


/*  底部 */
.hoe_footer{
	float: left;
	width: 100%;
	background: #f4f4f4;
    border-top: 1px solid #e1e1e1;
    margin-top: 60px;
    padding: 25px 0;
}
.hoe_footer .lxwm h2{
    color: #222;
    font-family: "微软雅黑", "黑体";
    font-size: 22px;
    font-weight: normal;
    line-height: 32px;
}
.hoe_footer .hoe_footer1{
	width: 1000px;
	margin: 0 auto;
	height: 50px;
	border-bottom: 1px solid #e1e1e1;
	
}
.hoe_footer .hoe_footer2{
	width: 1000px;
	margin: 0 auto;
	height: 100px;
	border-bottom: 1px solid #e1e1e1;
	
}.hoe_footer .hoe_footer2 h3{
    color: #222222;
    font-family: "微软雅黑","黑体";
    font-size: 14px;
    font-weight: normal;
    height: 20px;
    line-height: 20px;
    margin-top: 15px;

}
.hoe_footer .hoe_footer3{
	width: 1000px;
	margin: 0 auto;
	height: 50px;
	text-align: center;	
}
.hoe_footer .hoe_footer3 .about{
    padding-top: 5px;
    height: 23px;
    line-height: 23px;
}
.hoe_footer .hoe_footer3 a{
    font-size: 12px;
}
.hoe_footer .hoe_footer3 h3{
    color: #222222;
    font-family: "微软雅黑","黑体";
    font-size: 12px;
    font-weight: normal;
    height: 20px;
    line-height: 20px;
    margin-top: 8px;
}

